body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.feature-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.main-header {
  background-color: #000000;
  margin-bottom: 111px;
}

.container {
  width: 1160px;
  padding: 0 20px;
  background-color: red;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 160px;
  height: 65px;
  background-color: #249fc3;
  margin-right: 40px;
}

.main-menu {
  float: left;
  width: 760px;
  background-color: #1dca21;
}

.cart-block {
  float: right;
  width: 160px;
  background-color: #d6d421;
}

.slider {
  width: 1160px;
  background-color: #d6d421;
  clear: both;
}

.slider-item {
  width: 560px;
  background-color: #ec902c;
}

.know-more {
  width: 240px;
  background-color: #1dca21;
}

.slider-indicator {
  margin: 0 auto;
  background-color: #1dca21;
  width: 89px;
}

.features {
  background-color: #d6d421;
  margin-bottom: 122px;
}

.feature-item {
  float: left;
  width: 300px;
  background-color: #1dca21;
  margin-right: 100px;
}

.feature-item:last-child {
  margin-right: 0;
}

.index-content {
  background-color: #d6d421;
  margin-bottom: 144px;
}

.index-content-left {
  float: left;
  width: 660px;
  background-color: #1dca21;
}

.advantages-list {
  float: right;
  width: 360px;
  background-color: #1dca21;
}

.map {
  margin: 0 auto;
  width: 1440px;
  height: 416px;
}

.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #d6d421;
  margin-bottom: 125px;
}

.partners a {
  background-color: #1dca21;
  width: 260px;
  margin-right: 40px;
}

.partners a:nth-child(4n) {
    margin-right: 0;
}

.partners a:last-child {
  margin-right: 0;
}

.contacts {
  background-color: #d6d421;
}

.contacts-field {
  float: left;
  width: 318px;
  background-color: #1dca21;
}

.form-contact {
  width: 960px;
  background-color: #249fc3;
  margin: 0 auto;
  clear: both;
}

.main-footer {
  background-color: #000000;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  float: left;
  width: 260px;
  background-color: #1dca21;
  margin-right: 140px;
}

.footer-friends {
  float: left;
  width: 560px;
  background-color: #1dca21;
}

.above-map {
  padding-bottom: 1px;
}

.hidden-ellement {
  visibility: hidden;
}

.catalog-title {
  clear: both;
  background-color: #d6d421;
  width: 840px;
  margin: 0 auto;
}

.wrapper {
  background-color: #453a3a;
}

.catalog-left-column {
  float: left;
  width: 300px;
  background-color: #eb7c23;
}

.catalog-right-column {
  float: right;
  width: 760px;
  background-color: #eb7c23;
}

.filters {
  background-color: #1dca21;
 }

.sort {
  background-color: #1dca21;
  margin-bottom: 34px;
 }

.sort h2 {
  float: left;
  width: 200px;
  background-color: #249fc3;
 }

.sort-nav {
  float: right;
  width: 500px;
  background-color: #249fc3;
}

.catalog {
  width: 760px;
  background-color: #d6d421;
  margin-bottom: 60px;
}

.catalog-item {
  float: left;
  background-color: #1dca21;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 36px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:nth-last-child(2),
.catalog-item:last-child {
  margin-bottom: 0;
}

.catalog-item-hover {
  background-color: #249fc3;
}

.pages{
  background-color: #1dca21;
  width: 460px;
}
