body {
  min-width: 1200px;
  margin: 0;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background: #ffffff;
}

.sprite {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -5px -5px;
}

.sprite-close-cross {
    width: 21px;
    height: 21px;
    background-position: -5px -30px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -5px -61px;
}

.sprite-filter-select-ind {
    width: 27px;
    height: 23px;
    background-position: -5px -93px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -5px -126px;
}

.sprite-max-min-btn {
    width: 9px;
    height: 9px;
    background-position: -5px -157px;
}

.sprite-min-max-btn {
    width: 9px;
    height: 9px;
    background-position: -5px -176px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -5px -195px;
}

.feature-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.main-header {
  background-color: #eeeeee;
  margin-bottom: 81px;
}

.container {
  width: 1160px;
  padding: 0 20px;
  /*background-color: red;*/
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  margin-top: 49px;
  /*margin-bottom: 18px;*/
  margin-right: 200px;

  width: 160px;
  height: 65px;
  /*background-color: #249fc3;*/

}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-menu {
  float: left;
  margin-top: 74px;

  width: 600px;
  /*background-color: #1dca21;*/
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 0;
}

.main-menu li {
  display: inline-block;
  margin-right: 50px;

  vertical-align: top;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-menu li:last-child {
  margin-right: 0;
}

.main-menu a {
  display: block;
  padding-bottom: 10px;

  color: #000000;
  text-decoration: none;
}

.main-menu a:hover {
  color: #fb565a;
}

.main-menu a:active {
  color: #000000;
  opacity: 0.3;
}

.cart-block {
  float: right;
  margin-top: 74px;


  max-width: 160px;
  /*background-color: #d6d421;*/
}

.cart {
  display: inline-block;
  vertical-align: top;
  padding-left: 86px;
  position: relative;


  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  color: rgba(0,0,0,0.3);
}

.cart::before {
  content: "";

  position: absolute;
  width: 15px;
  height: 15px;


  top: 6px;
  left: 46px;
  background: url("../img/sprite.png") no-repeat -5px -5px;
}

.slider {
  position: relative;
  width: 1160px;
  height: 430px;
  clear: both;
}

.slider input[type=radio] {
  position:absolute;
  opacity:0;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  width: 200px;
  height: 18px;

  left: 50%;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  border: 5px solid white;
  border-radius: 50%;
  background: white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background-color: #ec902c;*/
}

.slider-title {
  margin: 0;
  margin-top: 76px;
  margin-bottom: 24px;
  width: 530px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  width: 420px;

  color: #283136;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 431px 17px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 496px 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 401px 18px;
}

.slider-item {
  display: none;
}

#btn-1:checked ~ .slides .slider-item:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slider-item:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slider-item:nth-child(3) {
  display: block;
}

.button {
  display: block;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.know-more {
  width: 240px;
  padding-top: 17px;
  padding-bottom: 15px;
  text-align: center;

  background-color: #fb565a;
}

.know-more:hover {
  background-color: #e74246;
}

.know-more:active {
  box-shadow: inset 0 3px 0 0 #c13135;
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
}

.features {
  margin-bottom: 40px;
  padding-bottom: 78px;
  border-bottom: 2px solid #eeeeee;
}

.feature-item {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.feature-item:last-child {
  margin-right: 0;
}

.feature-cite {
  background: url("../img/feature-1.jpg") no-repeat 0 0;
}

.feature-app {
  background: url("../img/feature-2.jpg") no-repeat 0 0;
}

.feature-present {
  background: url("../img/feature-3.jpg") no-repeat 0 0;
}

.feature-name {
  text-transform: uppercase;
  margin: 0;
  margin-top: 170px;
}

.feature-item p {
  margin-bottom: 30px;
}

.btn-cite {
  width: 160px;
  padding: 16px 39px;
  box-sizing: border-box;
  background-color: #fb565a;
}

.btn-cite:hover {
  background-color: #e74246;
}

.btn-cite:active {
  box-shadow: inset 0 3px 0 0 #c13135;
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
}

.btn-app {
  width: 160px;
  padding: 16px 39px;
  box-sizing: border-box;
  background-color: #00ca74;
}

.btn-app:hover {
  background-color: #00bc6c;
}

.btn-app:active {
  box-shadow: inset 0 3px 0 0 #009958;
  background-color: #00aa62;
  color: rgba(255,255,255,0.3);
}


.btn-present {
  width: 160px;
  padding: 16px 39px;
  box-sizing: border-box;
  background-color: #efc84a;
}

.btn-present:hover {
  background-color: #eab534;
}

.btn-present:active {
  box-shadow: inset 0 3px 0 0 #ce961f;
  background-color: #e5a722;
  color: rgba(255,255,255,0.3);
}

.index-content {
  padding-bottom: 75px;
}

.index-content-left {
  float: left;
  width: 680px;
  /*background-color: #1dca21;*/
}

.index-content-title {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.index-content-left p {
  margin-bottom: 44px;
}

.products b {
  display: block;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.products ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products li {
  margin-top: 21px;
  padding-left: 37px;

  position: relative;
}

.products li::before {
  content: "";

  position: absolute;

  width: 25px;
  height: 2px;

  top: 10px;
  left: 1px;

  background-color: #fb565a;
}

.advantages-list {
  float: right;
  width: 360px;
  /*background-color: #1dca21;*/
}

.advantages-list-title {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 25px;
  margin-bottom: 60px;
  margin-left: 18px;
}

.advantages-item {
  display: inline-block;
  margin-right: 20px;
  width: 100px;
}

.advantages-item:last-child {
  margin-right: 0;
}

.advantages-title {
  display: block;
  margin-bottom: 35px;

  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}

.advantages-discr {
  display: block;

  font-size: 16px;
  line-height: 18px;
}

.map {
  margin: 0 auto;
  width: 1440px;
  height: 416px;
}

.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  /*background-color: #d6d421;*/

  margin-bottom: 80px;
  min-height: 180px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners a {
  display: flex;
  /*background-color: #1dca21;*/
  width: 260px;
  margin-right: 40px;
  margin-bottom: 5px;
}

.partners a:nth-child(4n) {
  margin-right: 0;
}

.partners img {
  margin-left: auto;
  margin-right: auto;

  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

.map {
  position: relative;
}

.contacts-field {
  position: absolute;
  left: 140px;
  top: 54px;

  width: 318px;
  background-color: #ffffff;
}

.contacts-field h2 {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 51px;

  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-field p {
  margin: 0;
  padding: 0;
  margin-left: 51px;
  margin-bottom: 18px;

  color: #666666;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.contact-us {
  box-sizing: border-box;
  width: 219px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fb565a;
  margin-top: 36px;
  margin-left: 51px;
  margin-bottom: 47px;
  outline: none;
}

.contact-us:hover {
  background-color: #e74246;
}

.contact-us:active {
  box-shadow: inset 0 3px 0 0 #c13135;
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
}

.form-contact {
  width: 960px;
  background-color: #249fc3;
  margin: 0 auto;
  clear: both;
}

.main-footer {
  background-color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  float: left;
  width: 260px;
  margin-right: 140px;

  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 79px;
  height: 79px;
  margin-right: 11px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  border-radius: 50%;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  box-shadow: inset 0 3px 0 0 #c13135;
  background-color: #d7373b;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn-vk {
  background: #e1e1e1 url(../img/vk-icon.png) no-repeat center;
}

.social-btn-fb {
  background: #e1e1e1 url(../img/fb-icon.png) no-repeat center;
}

.social-btn-inst {
  background: #e1e1e1 url(../img/insta-icon.png) no-repeat center;
}


.footer-friends {
  float: left;
  width: 560px;
  /*background-color: #1dca21;*/
}

.footer-friends h2 {
  margin: 0;
  padding: 0;
  margin-top: 5px;

  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
}

.footer-friends p {
  margin: 0;
  padding: 0;
  margin-top: 9px;

  color: #444444;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}


.above-map {
  padding-bottom: 1px;
}

.hidden-ellement {
  visibility: hidden;
}

.catalog-title {
  clear: both;
  background-color: #d6d421;
  width: 840px;
  margin: 0 auto;
}

.wrapper {
  background-color: #453a3a;
}

.catalog-left-column {
  float: left;
  width: 300px;
  background-color: #eb7c23;
}

.catalog-right-column {
  float: right;
  width: 760px;
  background-color: #eb7c23;
}

.filters {
  background-color: #1dca21;
 }

.sort {
  background-color: #1dca21;
  margin-bottom: 34px;
 }

.sort h2 {
  float: left;
  width: 200px;
  background-color: #249fc3;
 }

.sort-nav {
  float: right;
  width: 500px;
  background-color: #249fc3;
}

.catalog {
  width: 760px;
  background-color: #d6d421;
  margin-bottom: 60px;
}

.catalog-item {
  float: left;
  background-color: #1dca21;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 36px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:nth-last-child(2),
.catalog-item:last-child {
  margin-bottom: 0;
}

.catalog-item-hover {
  background-color: #249fc3;
}

.pages{
  background-color: #1dca21;
  width: 460px;
}
